[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/heimdal/Desktop/notes.md]
row=2
col=0

[/home/heimdal/Desktop/all-notes]
row=0
col=0

[108BF01A2535DAEE]
row=4
col=0

[Trash]
row=1
col=0

[/home/heimdal]
row=3
col=0

