<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>ARM Assembly</string>
	<key>uuid</key>
	<string>433AE307-8DE5-4856-8113-37659B1AFDA4</string>
</dict>
</plist>
